body {
	background-color: #ecf0f1;
}
.wrapper {
	background: grey;
}
.container {
	width: 1200px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;

	background-color: #bdc3c7;
}
.sidebar {
	width: 400px;
	float: left;
}
.content {
	width: 800px;
	float: right;
}
.clear {
	clear: both;
}
#logo {
	float: left;
	width: 200px;
	height: auto;
	padding: 20px;
}
#logo img {
	max-width: 100%;
	height: auto;
}
#menu {
	padding-top: 60px;
	padding-bottom: 60px;
	float: right;
	width: 960px;
}
#menu li {
	float: left;
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
}
#menu li a {
	font-family: Verdana, Gevena, Tahoma, sans-serif;
	color: #34495e;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}
.blog-content img {
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.artikel-terbaru {
	padding-left: 10px;
	padding-right: 10px;
}
.artikel-terbaru ul {
	padding: 0;
	margin: 0;
	list-style: none;
}